.mainNav{
    border-bottom: solid 1px lightgray;
    background-color: var(--background);
    padding-bottom: 10px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9f9f9;
    color: var(--primary);
    margin-top: 1rem;
  }
  .loginForm {
    max-width: 360px;
    width: 100%;
    margin: 7rem auto;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
  }