.main-nav{
  border-bottom: solid 1px lightgray;
  background-color: var(--background);
  
}
.outlined-button-login, .outlined-button-signup {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s;
     
  }
  .outlined-button-login {
    color:white;
    background-color: black;
    margin-right: 1rem;
  }

  .outlined-button-login:hover {
    background-color: #2e2f2f;
    border-color: #232424;
  }
  
  .outlined-button-signup {
    border: 1px solid rgb(216, 212, 212);
  }
  
  .outlined-button-signup:hover {
    background-color: #A8D8A3;
    border-color: var(--primary);
  }

  .mobile-menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    /* Mobile menu toggle appears only on small screens */
    .mobile-menu-toggle {
      display: block;
    }
  
    .main-nav .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .main-nav .container .flex {
      display: none; /* Initially hide the menu */
      flex-direction: column;
      width: 100%;
    }
  
    .main-nav .container .flex.mobile-menu {
      display: flex; /* Show the mobile menu when it's open */
      gap: 10px;
      padding: 10px;
      align-items: center;
    }
  }