.categoriesBtn{
    /* border justify-center items-center text-sm p-4 h-auto flex flex-col gap-2 py-4 */
    border: 1px solid rgb(201, 200, 200);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .875rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.25rem;
    background-color: white;
    color: var(--primary);
    font-weight: bold;
}
.categoriesBtn:hover{
    background-color: var(--secondary);
}
.categoriesBtn button {
    justify-content: center;
}