@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #2D4F33;
  --secondary: #A8D8A3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0,0,0;
    --background-end-rgb: 0,0,0;
    --foreground: #2D4F33;
  }
}

body {
  @apply bg-background text-foreground;
}
